body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

table {
  display: table;
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

th,
td {
  display: table-cell;
  border: 1px solid #999;
  padding: 10px;
  text-align: left;
}

th {
  font-weight: bold;
}

tr {
  display: table-row;
}
